<div class="container">
  <h1 class="page-title">All Books</h1>

  <!-- Book Controls Component -->
  <app-book-controls
    (filterChange)="onFilterChange($event)"
    (sortChange)="onSortChange($event)"
  >
  </app-book-controls>

  <!-- Books Grid -->
  <div class="books-grid">
    <div *ngFor="let book of books" class="book-card">
      <img [src]="book.coverImageUrl" [alt]="book.title" />

       <h3 class="title">
            {{
              book.title.length > 17
                ? (book.title | slice : 0 : 17) + "..."
                : book.title
            }}
          </h3>
      <p class="author">{{ book.author }}</p>
      <p class="category">Category: {{ book.categoryName }}</p>
      <p class="price">₹{{ book.price }}</p>

      <!-- Availability based on stockQuantity -->
      <p
        class="availability"
        [class.in-stock]="book.stockQuantity > 0"
        [class.out-of-stock]="book.stockQuantity === 0"
      >
        {{ book.stockQuantity > 0 ? "In Stock" : "Out of Stock" }}
      </p>

      

      <!-- Optional: Publish Date -->
      <p class="publish-date">Published: {{ book.publishedDate }}</p>
      <div>
        <a
          class="btnSmall btn-primary"
          [routerLink]="['/book', book.bookId]"
        >
          View Details
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" class="loader-container">
    <span class="loader"></span>
  </div>